<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
  <div class="text-center mt-4 mb-4">
    <h1 class="display-4">cap nhat sản phẩm</h1>
  </div>
  <!-- Title input -->
  <div class="form-group">
    <label>Title</label>
    <input formControlName="title" type="text" class="form-control" />
    <small class="text-danger"> Không được để trống </small>
  </div>
  <!-- Category -->
  <div class="form-group">
    <label class="block text-sm font-medium text-gray-700">Danh mục</label>
    <div class="mt-1">
      <select class="form-control">
        <option value="" disabled selected>Chọn danh mục</option>
        <option value="Điện thoại">Điện thoại</option>
        <option value="Laptop">Laptop</option>
        <option value="PC">PC</option>
        <!-- Add more categories as needed -->
      </select>
    </div>
    <small class="text-danger"> Không được để trống </small>
  </div>
  <!-- Checkbox -->
  <div class="form-check">
    <input type="checkbox" class="form-check-input" />
    <label class="form-check-label">Show</label>
  </div>
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
